
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*
{
    background-color: rgb(235,235,235);
}


body
{
    font-family: 'Open Sans', sans-serif;
    
}


/* header */

header
{
    background-color: white;
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    /* height: 100%; */
    border-radius: 2%;
}

header img
{
    border: solid 3px grey;
    width: 50%;
    border-radius: 90%;
    margin-top: 50px;
}

header h1
{
    color: rgb(221,85,85);
    background-color: white;
    font-weight: bold;
}

h2, h3
{
    background-color: white;
    color: rgb(125,125,125);
    font-size: 12px;
}

header p
{
    background-color: white;
    color: rgb(125,125,125);
    width: 80%;
    margin: auto;
    margin-bottom: 35px;
    text-align: justify;
    font-size: 20px;
    line-height: 33px;
}

/* header .bouton
{
    background-color: rgb(221,85,85);
    color: white;
    font-size: 30px;
    font-weight: bold;
    width: 25%;
    margin: auto;
    text-decoration: none;
    padding: 20px;
    border-radius: 5%;
} */

button{
    
    font-size: 15px;
    font-weight: bold;
    width: 35%;
    margin: auto;
    text-decoration: none;
    padding: 2px;
    border-radius: 5%;
    margin-bottom: 25px;
    word-wrap: break-word;
}




/* banniere */

.banniere
{
    display: flex;
    align-items: center;        
    justify-content: center;
    background-color: white;
    width: 90%;
    margin: auto;
    margin-top: 20px;
        /* height: 0%; */
    border-radius: 2%;
    padding-top: 30px;
    
}

.social_box
{
    background-color: white;
    width: 20%;
    
}

.banniere a
{
    font-size: 40px;
    background-color: white;
    color: rgba(125,125,125,0.6);
    text-decoration: none;
    border-radius: 2%;
} 



/* movies */

.favorite_movies
{
    background-color: white;
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    /* height: 0%; */
    border-radius: 2%;
    
}





.grid {
    
    display: flex;
    flex-direction: column;
    background-color: white
    
    }

.image_1
{
    padding: 0;
    margin: auto;
    background-color: white;
}

.part_1
{
    
    background-color: white;
}

.image_2
{
    padding: 100px 0 0 0;
    margin: auto;
   
    background-color: white;
}

.part_2
{
    
    background-color: white;
}

.image_3
{
    
    padding: 100px 0 0 0;
    margin: auto;
    
    background-color: white;
}

.part_3
{
    
    background-color: white;
}

.favorite_movies p
{
    background-color: white;
    color: rgb(125,125,125);
    width: 90%;
    margin: auto;
    margin-bottom: 15px;
    text-align: justify;
    font-size: 20px;
    line-height: 33px;
    padding-right: 5px;
}

.favorite_movies h2
{
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 40px;
    border-radius: 2%;
}

.favorite_movies h3
{
    padding-top: 0px;
    
    font-size: 30px;
}

