/* @font-face {
    font-family: 'Open sans';
    src: url(OpenSans-VariableFont_wdth\,wght.ttf);
} */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*
{
    background-color: rgb(235,235,235);
}


body
{
    font-family: 'Open Sans', sans-serif;
    
}


/* header */

header
{
    background-color: white;
    width: 45%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    height: 60rem;
    border-radius: 2%;
}

header img
{
    border: solid 3px grey;
    border-radius: 90%;
    margin-top: 20px;
}

header h1
{
    color: rgb(221,85,85);
    background-color: white;
    font-weight: bold;
}

h2, h3
{
    background-color: white;
    color: rgb(125,125,125);
}

header p
{
    background-color: white;
    color: rgb(125,125,125);
    width: 50%;
    margin: auto;
    margin-bottom: 35px;
    text-align: justify;
    font-size: 20px;
    line-height: 33px;
}

header .bouton
{
    background-color: rgb(221,85,85);
    color: white;
    font-size: 30px;
    font-weight: bold;
    width: 25%;
    margin: auto;
    text-decoration: none;
    padding: 20px;
    border-radius: 10%;
}

/* banniere */

.banniere
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 45%;
    margin: auto;
    margin-top: 20px;
    height: 20rem;
    border-radius: 2%;
    
}

.banniere ul
{
    background-color: white;
    
}

.banniere li
{
    display: inline;
    font-size: 15px;
    background-color: white;
}

.banniere i
{
    font-size: 80px;
    margin-right: 50px;
    background-color: white;
    color: rgba(125,125,125,0.6);
}



/* movies */

.favorite_movies
{
    background-color: white;
    width: 45%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    height: 60rem;
    border-radius: 2%;
    
}





.grid {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: white;
    }

.image_1
{
    grid-area: 1 / 1 / 2 / 2;
    width: 180px;
    margin: auto;
    padding: 50px;
    background-color: white;
}

.part_1
{
    grid-area: 1 / 2 / 2 / 3;
    background-color: white;
}

.image_2
{
    grid-area: 2 / 1 / 3 / 2;
    width: 180px;
    margin: auto;
    padding: 50px;
    background-color: white;
}

.part_2
{
    grid-area: 2 / 2 / 3 / 3;
    background-color: white;
}

.image_3
{
    grid-area: 3 / 1 / 4 / 2;
    width: 180px;
    margin: auto;
    padding: 50px;
    background-color: white;
}

.part_3
{
    grid-area: 3 / 2 / 4 / 3;
    background-color: white;
}

.favorite_movies p
{
    background-color: white;
    color: rgb(125,125,125);
    width: 90%;
    margin: auto;
    margin-bottom: 35px;
    text-align: justify;
    font-size: 20px;
    line-height: 33px;
    padding-right: 5px;
}

.favorite_movies h2
{
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 40px;
}

.favorite_movies h3
{
    padding-top: 60px;
    padding-bottom: 5px;
    font-size: 30px;
}

